body {
  height: 100vh;
  overflow: hidden;
  background-color: #ddeeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
}

#results-container, #selector-container {
  width: 100%;
  max-width: 800px;
}

#results-container {
  height: 60%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 60px;
  box-shadow: 3px 3px 5px;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr 1fr; 
  grid-template-areas:
    "location location"
    "main temp"
    "humidity wind"; 
}

#results-container * {
  display: none;
}

#location {
  grid-area: location;
  font-size: clamp(1.6rem, 4vw, 2.4.rem);
  font-weight: bold;
}

#main-wrapper {
  grid-area: main;
  display: flex;
}

#weather-icon {
  position: relative;
  top: 1rem;
  height: 3rem;
}

#temp-wrapper {
  grid-area: temp;
  display: flex;
  flex-direction: column;
}

#humidity {
  grid-area: humidity;
}

#wind-wrapper {
  grid-area: wind;
  display: flex;
  flex-direction: column;
}

#selector-container {
  height: 10%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#selector-container * {
  font-size: clamp(1rem, 2vw, 1.3rem);
}

#city-field, #country-field {
  width: 25%;
}

.wrapper {
  gap: 0.5rem;
}

@media (max-width: 600px) {
  #results-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "location"
      "main"
      "temp"
      "humidity"
      "wind";
    padding: 1rem;
    border-radius: 30px;
  }

  #selector-container {
    flex-direction: column;
    gap: 0.5rem;
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  #city-field, #country-field {
    width: 100%;
  }
}